// Main container for homepage section
.homepageContainer{
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url("https://federicoanelli.github.io/actionpainting/media/images/backgroundHomescreen.webp");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    object-fit: cover;
}

// Div for text "We are your best choice"
.homepageTextDiv{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-left: 10vw !important;
    padding-right: 10vw !important;
}

.homepageHeaderStyling{
    font-family: $fontFamilyMain;
    font-size: 4vw;
    font-weight: 900;
}

.homepageParagraphStyling{
    font-family: $fontFamilyMain;
    font-size: x-large;
    padding-top: 3vh !important;
    padding-left: 13vw !important;
    padding-right: 13vw !important;
    padding-bottom: 5vh !important;
    text-align: center;
    font-weight: 400;
}

.homepageContactUsButton{
    font-family: $fontFamilyMain;
    font-weight: 900;
    font-size: x-large;
    color: white;
    border-radius: 8px;
    width: 15vw;
    height: 8vh;
    background-color: $yellowColor;
    cursor: pointer;
}

