$defaultPaddingSides: 5% !important;

// Main container for Services section
.servicesMainContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
}

// Services grid
.servicesMainGrid{
    padding-top: $defaultTopSpacing;
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 0;
    row-gap: 0;
}

//Services image tile
.servicesImageTile{
    height: 100% ;
    width: 100% ;

}


// Services text tile
.servicesTextTile{
    background-color: $blackColor;
    height: 100%;
    width: 100%;
    font-family: $fontFamilyMain;

}

.servicesTextMiddleContainer{

    padding-top: $defaultPaddingSides;
    padding-left: $defaultPaddingSides;
    padding-right: $defaultPaddingSides;
    
}


.servicesYellowLineContainer{

    width: 20%;
    margin-top: 5% !important;
    margin-bottom: 8% !important;
    margin-left: 3% !important;
}


// Yellow line division in between title and text
.servicesYellowLine{
    background-color: $yellowColor;
    font-size: 0.4vh;
    width: 100%;

    transition: width 1s, font-size 1s, top 0.5s;

}

.servicesYellowLineVertical{
    background-color: $yellowColor;
    align-self: flex-start;
    width: 0.2vw;
    height: 100%;
    transition: width 1s, font-size 1s, top 0.5s;
}




// Grid for the three yellow buttons on services
.servicesGridButtons{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 0;
    row-gap: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    cursor: pointer;

}


.servicesGridButtonsExpanded{

    display: grid;
    grid-template-columns: repeat(2, 1fr) 4fr;
    grid-template-rows: 1fr;
    column-gap: 0;
    row-gap: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.servicesButton{
    padding-top: 15%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 0;
    row-gap: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    transition: opacity 1s;
}



.yellowCircleButton{

    background-color: $yellowColor;
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
    align-self: center;
    justify-self: center;
    cursor: pointer;
}


.paragraphButtons{
    color: white;
    font-size: x-large;
    padding-left: 5% !important;
    padding-right: 5% !important;
    padding-top: 10% !important;
    text-align: center;
    transform: opacity 1s;
}


// Services heading style
.servicesHeading{
    color: white;
    font-size: 6vh;
    font-weight: 800;
    padding-left: 3% !important;
    transition: opacity 1s;
}


// Style for appearing headers

.servicesAppearingHeaderStyle{
    color: white;
    font-size: 6vh;
    font-weight: 800;
    align-self: baseline;
    justify-self: baseline;
    padding-left: 3% !important;
}


// Commercial Painting Paragraph
.commercialPaintingBody{
    font-family: $fontFamilyMain;
    color: white;
    display: flex;
    height: 100%;
    width: 100%;
}

.commercialPaintingParagraph{
    font-weight: 200;
    color: white;
    padding-top: 10% !important;
    font-size: 3vh;
    animation: fadeIn ease 2s 1;
}

//Go back button
.goBackButtonDiv{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    padding-top: 10% !important;
    cursor: pointer;
    animation: fadeIn ease 2s 1;
}

.arrowsDiv{
    display: flex;
    align-items: center;
    align-content: center;
}

.goBackParagraph{

    display: flex;
    align-items: center;
    align-content: center;

}

.goBackText{
    color: white;
    font-size: 2vh;
    margin-left: -40% !important ;
}

.yellowArrows{
    color: $yellowColor;
    margin-right: -35% !important;
}