// Main container for Testimonials
.testimonialsContainer{
    height: 100vh;
    max-width: 100vw;
    display: flex;
    overflow: hidden;
}

// Testimonials main grid
.testimonialsMainGrid{
    background-color: $blackColor;
    position: relative;
    padding-left: 5vw !important;
    padding-right: 5vw !important;
    padding-top: $defaultTopSpacing;
    max-height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0;
    row-gap: 0;

}

// Testimonials tiles
.testimonialsTile{
    background-size: cover;
    filter: brightness(90%);
    cursor: pointer;
    background-size: 40% !important;
    background-repeat: no-repeat !important;
    transition: filter 0.5s background-size 1s;
}
    
.testimonialsTile:hover{
    filter: brightness(100%);
    background-size: 45% !important;
}