// General configuration


// Header configuration
$headerHeight: 30vh;


//Fonts
$fontFamilyMain: 'Outfit', sans-serif;
$fontSizeMenu: medium;
$fontWeightMenu: 500;
$fontSizeContact: medium;

//Colors
$yellowColor: rgb(241, 199, 68);
$blackColor: rgb(50, 48, 49);