@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./variables";
@import "./header";
@import "./homepage";
@import "./aboutUs";
@import "./services";
@import "./projectGallery";
@import "./testimonials";

* {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $blackColor;
    z-index: 1;
}


